<div class="container">
  <div class="row">
    <div class="my-5">
      <h5>昨今、食品に含まれる栄養価自体が減少しており、</h5><br />
      <h5>バランスの良い食事を心がけていても十分に摂取するのが難しいのが現状です。</h5><br />
      <h5>食生活が偏りがちな人は特に、サプリメントで効率的に栄養を摂っていく必要がありますが、</h5><br />
      <h5>サプリメントは薬ではなくあくまでも健康補助食品です。</h5><br />
      <h5>自覚症状に対して即効性が保証できるものではなく、</h5><br />
      <h5>必要な栄養素を見極め、継続的に飲み続けることが大切です。</h5>
    </div>
  </div>
</div>