@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.txt-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 任意の行数を指定 */
}

.image_input_btn {
  display: block;
  background-color: #228B22;
  width: 180px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
      }

.image_form {
  display: none;
}

.font {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-left: 15px;
}

.review_paginate{
  width: 100%;
  margin: auto;
}

.pagination{
  text-align: center;
  display: flex;
  justify-content: center; 
}