<div class="container">
  <div class="row">
    <div class="rol-12">
      <h4>ユーザー一覧</h4>
        <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>ニックネーム</th>
            <th>ステータス</th>
          </tr>
        </thead>
    </div>
  </div>

  <div class="row">
    <div class="rol-12">
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to admin_user_path(user.id) do %>
                <%= user.nickname %>
                <% end %></td>
            <td><% if user.is_deleted %>
                退会
               <% else %>
                有効
               <% end %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>