<div>
  <h4><%= @user.nickname %>さんのコメントした投稿一覧</h4>
  <% @comments.each do |comment| %>
    <% if comment.review then %>
      <%= link_to review_path(comment) do %>
      <%= comment.review.title %>
      <% end %>
      <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
    <% end %>
  <% end %>
</div>

