<div>
  <h4>本当に退会しますか？</h4>
  <h6>
    <p>退会すると、投稿したレビューやコメント、</p></br>
    <p>ブックマーク情報が削除されてしまいます。</p></br>
    <p>それでも退会しますか？</p>
  </h6>
  <%= link_to "退会しない", users_my_page_path %>
  <%= link_to "退会する", users_leave_path, method: :patch,"data-confirm" => "退会しますか？" %>
</div>