<div class="container">
  <h5>退会すると投稿したレビューやコメント、</h5>
  <h5>ブックマーク情報が削除されてしまいます。</h5>
  <h5>それでも退会しますか？</h5>
  <%= link_to "退会しない", users_my_page_path, class: "btn btn-success" %>
  <%= link_to "退会する", users_leave_path, class: "btn btn-danger", method: :patch,"data-confirm" => "退会しますか？" %>
</div>